@charset "UTF-8";
.header-onas-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(16, 5, 16, 0.815);
  transition: 1.5s;
}

.onas {
  padding: 4rem 0;
  background-image: url(/images/bg3.jpg);
}
.onas h2 {
  text-align: center;
  font-size: 4rem;
}
.onas hr {
  width: 71rem;
  margin: 2rem auto;
}

.prečo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 71rem;
  margin: 8rem auto 0;
  padding: 1rem 3rem 2rem;
  gap: 2.5rem;
}
.prečo h3 {
  font-size: 3.5rem;
}
.prečo p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #000000;
  line-height: 25px;
  font-weight: 300;
}
.prečo img {
  width: 100%;
}

.kto-sme {
  background-color: #292037;
  color: white;
  padding: 0 0 3rem;
}
.kto-sme h2 {
  text-align: center;
  font-size: 3.5rem;
  padding: 4rem 0 2rem;
}
.kto-sme hr {
  width: 57rem;
  margin: 0 auto;
  opacity: 40%;
}

.kto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 57rem;
  margin: 2rem auto;
  gap: 2.5rem;
}
.kto-grid img {
  width: 100%;
}
.kto-grid p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.kto-grid .p-2 {
  margin: 2rem 0 0;
}

.kocky {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  width: 66rem;
}
.kocky div {
  width: 15.5rem;
  height: 15.5rem;
  color: white;
  position: relative;
}
.kocky div p {
  text-align: center;
  position: relative;
  top: 84%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.7rem 0;
  font-weight: 400;
}

.koc1 {
  background-image: url(/images/happy-smiling-man-looking-away-confident-young-big-smile-handsome-guy-window-thinking-future-closeup-face-152000693.jpg);
  background-size: cover;
  background-position: bottom;
}

.koc2 {
  background-image: url(/images/herni-pocitac-unsplash-1280x960.jpg);
  background-size: cover;
  background-position: bottom;
}

.koc3 {
  background-image: url(/images/open-book-lightbulb-Depositphotos_78990836_xl-2015copy.jpg);
  background-size: cover;
  background-position: bottom;
}

.koc4 {
  background-image: url(/images/istockphoto-625741228-170667a.jpg);
  background-size: cover;
  background-position: bottom;
}

.kontakt {
  text-align: center;
  background-image: url(/images/color.png);
  background-position: center;
  background-size: cover;
}
.kontakt h2 {
  color: white;
  padding: 4.5rem 0 2.5rem;
  font-size: 4.5rem;
}
.kontakt button {
  margin-bottom: 5rem;
  padding: 1rem 0;
  width: 15rem;
  border-radius: 8px;
  background-color: rgb(196, 186, 196);
  transition: 0.4s;
}
.kontakt button:hover {
  background-color: rgb(173, 164, 173);
}
.kontakt button a {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.main-header {
  background-image: url(/images/2655665.png);
  background-position: center;
  background-size: cover;
}

header h2 {
  display: flex;
  position: relative;
  left: 3rem;
  align-items: center;
  color: white;
  font-size: 1.6rem;
}

.header-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(30, 24, 55, 0.5);
  transition: 1.5s;
}

nav {
  padding: 1.7rem;
  color: white;
  display: flex;
  justify-content: end;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding-top: 5px;
  margin-right: 2.3rem;
  position: relative;
  bottom: 0.2rem;
}
li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
}
li a:after {
  content: "";
  position: absolute;
  bottom: 2.7rem;
  height: 6px;
  width: 100%;
  opacity: 0;
  background-color: white;
  transition: 0.5s;
  left: 0;
}
li a:hover:after {
  opacity: 100%;
}
li .active:after {
  content: "";
  position: absolute;
  bottom: 2.7rem;
  height: 6px;
  width: 100%;
  opacity: 100%;
  background-color: white;
  transition: 0.5s;
  left: 0;
}

.title {
  width: 100%;
  height: 50rem;
}
.title div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  top: 21rem;
}
.title hr {
  width: 35rem;
  margin: 0 auto;
  opacity: 70%;
}
.title p {
  text-transform: uppercase;
  margin: 1rem 0 0 0;
  font-size: 1.3rem;
}

h1 {
  font-size: 4rem;
}

.first-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 71rem;
  margin: 4rem auto;
  padding: 1rem 3rem;
  gap: 2rem;
}
.first-card h3 {
  font-size: 3.5rem;
}
.first-card p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  font-weight: 300;
  color: rgb(128, 128, 128);
  line-height: 27px;
}
.first-card img {
  max-width: 100%;
}

.services {
  color: white;
  background-image: url(/images/test.jpg);
  background-position: center;
  background-size: cover;
  padding: 3rem 0;
}
.services h3 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0.4rem 0 2rem 0;
}
.services hr {
  width: 100%;
  max-width: 71rem;
  margin: 0 auto;
  opacity: 40%;
}
.services img {
  width: 100%;
  height: 100%;
  max-height: 13rem;
  max-width: 29rem;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 75rem;
}

.services-card {
  padding: 2rem 2rem 0;
  text-align: center;
  border-radius: 20px solid black;
}
.services-card h4 {
  margin: 1.5rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}
.services-card p {
  margin: 0 0 3rem;
  font-weight: 300;
}
.services-card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.services-card button {
  width: 12rem;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 2rem 0;
}
.services-card button:hover {
  background-color: rgb(214, 214, 214);
  transition: 0.5s;
  cursor: pointer;
}
.services-card button a {
  display: block;
}

button a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
}

.bgColor {
  background-color: #333;
  transition: 1.5s;
  color: rgb(255, 255, 255);
  z-index: 20000;
  position: fixed;
  left: 0;
  right: 0;
}

.galeria {
  margin: 0 auto;
  padding: 0 0 5rem;
}
.galeria h2 {
  text-align: center;
  font-size: 4rem;
  margin: 3.5rem 0 1.5rem;
}

.galeria-grid {
  display: grid;
  margin: 0 auto;
  width: 66rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.galeria-grid img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.kvality {
  background-image: url(/images/color.png);
  background-position: center;
  background-size: cover;
  color: white;
  height: 40rem;
}
.kvality h2 {
  text-align: center;
  font-size: 3.5rem;
  padding: 4.5rem 0 2rem;
}
.kvality h3 {
  font-size: 1.4rem;
}
.kvality hr {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  opacity: 40%;
}

.kvality-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem auto;
  width: 68rem;
  position: relative;
  left: 2rem;
  gap: 3rem;
}
.kvality-grid div {
  width: 20rem;
  float: right;
}
.kvality-grid div p {
  margin: 3rem 0;
  color: rgb(234, 234, 234);
  opacity: 0.8;
  font-weight: 300;
  font-size: 1.1rem;
}
.kvality-grid div div {
  display: flex;
  flex-direction: row;
}
.kvality-grid div div i {
  font-size: 2rem;
  margin-right: 1.5rem;
  color: rgb(234, 234, 234);
  opacity: 0.8;
}

.novinky div h2 {
  text-align: center;
  font-size: 3.5rem;
  padding: 4rem 0 2rem;
}
.novinky div p {
  font-size: 16px;
  margin-bottom: 2rem;
}
.novinky div hr {
  width: 65.8rem;
  margin: 0 auto 2rem;
}
.novinky div i {
  font-size: 15px;
  position: relative;
  bottom: 3px;
  margin-right: 10px;
}
.novinky div .date {
  display: flex;
  align-self: flex-start;
  font-size: 16px;
  position: relative;
  top: 10px;
  color: rgb(154, 154, 154);
  margin-bottom: 1.5rem;
  margin-top: 0.4rem;
}
.novinky .novinky-p {
  text-align: center;
  font-size: 1.2rem;
}

.novinky-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 66rem;
  margin: 0 auto;
  gap: 2rem;
}

.novinky-card img {
  width: 14.75rem;
  height: 10.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.novinky-card h3 {
  margin-top: 0.4rem;
  font-weight: 700;
  font-size: 1.4rem;
}
.novinky-card p {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  font-size: 1px;
  color: rgb(154, 154, 154);
}
.novinky-card a {
  text-decoration: none;
  color: black;
  transition: 0.4;
}
.novinky-card a:hover {
  text-decoration: underline;
}

.člen {
  margin-top: 4rem;
  background-image: url(/images/walll.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 22rem;
}

.člen-grid {
  display: grid;
  grid-template-columns: 40rem 1fr;
  margin: 0 auto;
  width: 65rem;
  color: white;
  gap: 5rem;
}
.člen-grid h2 {
  font-size: 4rem;
  margin: 5rem 0 2rem;
  text-align: center;
}
.člen-grid p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(192, 192, 192);
}
.člen-grid button {
  cursor: pointer;
}

.člen-text {
  width: 35rem;
}

.člen-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  gap: 1rem;
}

.btn-1 {
  margin-bottom: 3rem;
  width: 14rem;
  height: 3.5rem;
  border: 1px solid rgb(192, 192, 192);
  background-color: transparent;
  border-radius: 8px;
  color: rgb(192, 192, 192);
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.5s;
}

.btn-1:hover {
  border: 1px solid white;
  color: white;
}

.btn-2 {
  margin-bottom: 3rem;
  width: 14rem;
  height: 3.5rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 8px;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.5s;
}

.btn-2:hover {
  background-color: rgb(214, 214, 214);
}

.refs {
  background-color: #191919;
  padding: 4rem 0 3.5rem;
}
.refs h2 {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
.refs hr {
  opacity: 30%;
  width: 66rem;
  margin: 0 auto;
}

.refs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 66rem;
  margin: 0 auto;
  gap: 3rem;
  text-align: center;
}
.refs-grid div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 1rem;
  color: white;
}
.refs-grid img {
  width: 5rem;
  border-radius: 50%;
  margin: 0 0 1rem;
}
.refs-grid p {
  color: rgb(192, 192, 192);
  font-weight: 300;
  margin: 0 0 1rem;
  line-height: 1.5rem;
}
.refs-grid h3 {
  font-weight: 750;
  font-size: 1.4rem;
  margin: 0 0 0.5rem;
}
.refs-grid h4 {
  color: rgb(214, 214, 214);
  font-size: 1.2rem;
  font-weight: 400;
}

footer {
  background-color: white;
  padding: 2rem 0 2rem;
}
footer p {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-weight: 300;
}
footer span {
  text-decoration: underline;
}