.header-regi-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #212121;
    transition: 1.5s;
  }
  .regi-form{
    background-image: url(../images/blue.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    h2{
        color: white;
        font-size: 4rem;
        padding: 4.5rem 0 0;
        margin-bottom: 7rem;
        font-weight: 800;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 31rem;
        margin: 0 auto;
        label{
            display: flex;
            justify-content: flex-start;
            margin: 0rem 0 0.5rem;
            color: rgb(201, 201, 201);
            font-weight: 500;
        }
        input{
            width: 100%;
            height: 2.7rem;
            margin-bottom: 1.5rem;
            padding-left: 1rem;
            
        }
        div{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            label{
                margin: 0.2rem 0.3rem 0;
                font-weight: 300;
            }
        }
        button{
            width: 52%;
            height: 3.8rem;
            margin-bottom: 2.5rem;
            background-color: transparent;
            border: 2px solid rgba(201, 201, 201, 0.7);
            padding: 1rem 0;
            border-radius: 4px;
            transition: 0.4s;
            &:hover{
                border: 2px solid white;
                
            }
            a{
                display: block;
                color: rgb(201, 201, 201);
                transition: 0.4s;
                font-weight: 500;
                &:hover{
                    color: white;
                }
            }
        }
        
    }
    a{
        color: white;
        font-weight: 300;
        font-size: 1.2rem;
        padding-bottom: 4rem;
        margin: 0 auto;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: rgba(255,255,255,0.4);
        transition: 0.4s;
        &:hover{
            text-decoration-color: rgba(255,255,255,1);
        }
    }
  }
  .regi-form input[type="radio"]{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    width: 1.3rem;
    height: 1.6rem;
    margin-bottom: 0.2rem;
    accent-color: black;
    padding: 1rem;
  }
  .regi-form input[type="radio"]:checked{
    background-color: black;
    
  }
  
 #senior{
    margin-bottom: 1.5rem;
 }